@import "tailwindcss";

body {
  background: #0A0A0F;
  overflow-x: hidden;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.wrapper{
  @apply max-w-7xl mx-auto px-4 md:px-8;
}